"*":
  core:
    disabledPackages: [
      "git-plus"
      "linter-rubocop"
    ]
    projectHome: "/Users/ali/code"
  editor:
    fontFamily: "Courier New"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "d4efaa67-4ea3-de6f-ea14-09270d232311"
  linter:
    lintDebug: true
    showInfoMessages: true
    statusBar: "Show all errors"
  metrics:
    userId: "44edc941840c87dd1cf98a0d605a1fa48c3e1883"
  "release-notes":
    viewedVersion: "0.94.0"
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  welcome:
    showOnStartup: false
